*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 5px 10%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 5%;
    right: 2%;
    z-index: 10;
}

@keyframes drop {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar button{
    font-size: 1.8rem;
    background: transparent;
    border: none;
    margin-right: 30px;
}


/* Logo */
.logo {
    width: 140px;
    height: auto;
    animation: drop 1.5s ease;
    position: relative;
    z-index: 1;
    top: 5px;
}

@media (max-width: 768px) { /* Targets screens smaller than 768px */
    .logo.hidden {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
}



/* Add this CSS to your stylesheet */
.header-text .typing {
    display: inline-block;
    font-size: 28px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end), blink 0.5s step-end infinite alternate;
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Blinking cursor effect */
@keyframes blink {
    from {
        border-right-color: #000;
    }
    to {
        border-right-color: transparent;
    }
}


/* Stagger the animation for each button */
nav ul li:nth-child(1) {
    animation-delay: 0.1s;
}
nav ul li:nth-child(2) {
    animation-delay: 0.2s;
}
nav ul li:nth-child(3) {
    animation-delay: 0.3s;
}
nav ul li:nth-child(4) {
    animation-delay: 0.4s;
}
nav ul li:nth-child(5) {
    animation-delay: 0.5s;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    animation: drop 0.8s ease-in-out;
    animation-fill-mode: backwards;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    position: relative;
    margin-right: 10px;
}

nav ul li a::after{
    content : '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}



/* --------------about---------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 65%;
    height: auto;
    border-radius: 15px;
    position: relative;
    left: -10px;
    animation: drop 0.8s ease-in-out;


}
.about-col-2{
    flex-basis: 65%;
    font-size: 15px;
    
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
} 
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
} 

/* Skills Layout */
.skills-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow: hidden;
}

.skill-item {
    flex: 1 1 250px;
    max-width: 300px;
    height: 160px;
    text-align: center;
    background: #262626;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.5s ease;
}

.skill-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(0) scale(1.05);
}

.skill-icon {
    font-size: 40px;
    color: #ff004f;
    margin-bottom: 10px;
}

.skill-bar {
    background: white;
    height: 8px;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    overflow: hidden;
}

.skill-progress {
    background: linear-gradient(90deg, #f5f3f4, #fc2525);
    height: 100%;
    color: white;
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
    line-height: 8px;
    border-radius: 20px;
    width: 0%;
}


/* Animation */
.skill-item.active {
    transform: translateY(0);
    opacity: 1;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Experience & Education Layout */
.experience-container, .education-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.experience-item, .education-item {
    background: #262626;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.5s ease;
}

.experience-item:hover, .education-item:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(0) scale(1.05);
}

.experience-icon, .education-icon {
    font-size: 40px;
    color: #ff004f;
    margin-bottom: 10px;
}

.experience-item h3, .education-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
}

.experience-item p, .education-item span, .experience-item span {
    font-size: 14px;
    color: white;
}

/* Animation */
.experience-item.active, .education-item.active {
    transform: translateY(0);
    opacity: 1;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* --------------services---------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* --------------portfolio---------------- */
#portfolio {
    padding: 50px 0;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-list i {
    color: #ff004f;
}
.work img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    display: block;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover {
    background: #ff004f;
}

/* --------------contact---------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f; 
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}

